* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  max-width: 2560px;
  margin: auto;
  height: 100%;
  background: rgb(181, 44, 44);
  background: linear-gradient(
    100deg,
    rgba(181, 44, 44, 1) 0%,
    rgba(0, 0, 0, 1) 33%,
    rgba(2, 3, 7, 1) 61%,
    rgba(51, 76, 191, 1) 100%
  );
}
