nav {
  width: 75vw;
  height: auto;
  margin: auto;
  max-width: 2560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  background-color: transparent;
}

.nav-left {
  display: flex;

  .icon {
    width: auto;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      border-radius: 50%;
      border: 9px solid rgb(202, 0, 0);
      border: 9px solid rgb(233, 0, 0);
      border-inline: 1px black;
    }
    span {
      font-weight: 700;
      font-size: 1.5rem;
      color: white;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    margin-left: 3.5rem;
    color: white;

    a {
      color: white;
      text-decoration: none;
      margin-right: 1rem;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
    .selected {
      color: red;
      text-decoration: none;
      margin-right: 1rem;
      cursor: pointer;
    }
  }
}

.nav-right {
  display: flex;
  align-items: center;
  img {
    margin-left: 1rem;
  }
}
